<?xml version="1.0" encoding="utf-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
xmlns="http://java.sun.com/xml/ns/javaee"
xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
	<servlet>
		<servlet-name>Sos_2014_03</servlet-name>
		<servlet-class>sos.us.es.Sos_2014_03Servlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Sos_2014_03</servlet-name>
		<url-pattern>/sos_2014_03</url-pattern>
	</servlet-mapping>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
	</welcome-file-list>
	<servlet>
		<servlet-name>David</servlet-name>
		<servlet-class>sos.us.es.David</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>David</servlet-name>
		<url-pattern>/dv/SpainStd/*</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>Jenny</servlet-name>
		<servlet-class>sos.us.es.Jenny</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Jenny</servlet-name>
		<url-pattern>/api/v1/Seville/*</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>Rocio</servlet-name>
		<servlet-class>sos.us.es.RocioServelt</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Rocio</servlet-name>
		<url-pattern>/api/v1/universitySeville/*</url-pattern>
	</servlet-mapping>
</web-app>
